.publication-cell-container {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  .card-text {
    order: 1;
    margin: 10px 0px;
  }

  .description {
    padding: 0;
    bottom: 0;
    border-top: solid 1px _palette(border);

    p {
      font-size: 0.9rem;
      margin: 0;
      // padding: 1.25em;
      background-color: rgba(255,255,255,.7);
      color: #3c3b3b;
      font-family: "Raleway", Helvetica, sans-serif;
      z-index: 1000;
      transition: all 0.1s;
      -webkit-transition: all 0.1s ease-in-out;
    }
  }

  header {
    h3 {
      letter-spacing: _font(kerning-heading-tight);
    }

    p {
      letter-spacing: _font(kerning-heading-tight);
      margin-bottom: 5px;
    }

    .website-link {
      border-bottom: none;
      font-weight: _font(weight-bold);
    }
  }
  
  @media (max-width: 480px) {
    .description {
      position: inherit;
      padding: 0;
      bottom: inherit;
    }
  }
}

.figure-container {
  position: relative;
  width: 30%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 0;
}

.figure-container img,
.figure-container video {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.figure-container a {
  border-bottom: none;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .publication-cell-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .card-text {
      width: 100%;
      order: 0;
      margin: 0;
    }
    padding-bottom: 30px;
  }

  .figure-container {
    width: 60%;
    aspect-ratio: auto;
    order: 1;
  }
}