.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @import 'base/page';
@import 'base/typography';

@import 'components/author';
@import 'components/blurb';
@import 'components/box';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/mini-post';
@import 'components/post';
@import 'components/section';
@import 'components/table';
@import 'components/hamburger';
@import 'components/markdown';

@import 'layout/header';
@import 'layout/wrapper';
@import 'layout/main';
@import 'layout/sidebar';
@import 'layout/intro';
@import 'layout/footer';
@import 'layout/menu';

@import 'pages/contact';
@import 'pages/notFound';
@import 'pages/resume';
@import 'pages/skills';
@import 'pages/stats'; */
